/* ---------------------- */
/* agent-item.css Styles */
/* ---------------------- */

.agent-img {
  width: 60px;
  border-radius: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}

.agent-info {
  display: block;
  margin: 5px 0;
}

.agent-info .agent-name {
  font-size: 1.4rem; 
  margin-top: 0;
}

.agent-info .agent-reknown {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 0;
}
